<div id="header">Manage Users</div>
<br />
<div>
  The <i>User Manager</i> will allow you to create/edit new users who work within your organisation.
  <p>
    Each user can be permissioned to use certain features of the application. The following is a list of the available roles:
    <table cellpadding="2" cellspacing="0">
    <tr style="font-weight: bold">
      <td style="border-bottom: black solid 2px;border-right: black dotted 1px">Role</td><td style="border-bottom: black solid 2px">Description</td>
    </tr>
    <tr>
      <td style="border-bottom: black dotted 1px;border-right: black dotted 1px;text-indent:4px">User Manager</td><td style="border-bottom: black dotted 1px">Access to the User Manager to add/edit/remove users</td>
    </tr>
    <tr>
      <td style="border-bottom: black dotted 1px;border-right: black dotted 1px;text-indent:4px">Invoicing</td><td style="border-bottom: black dotted 1px">Access to Invoicing, to view and export client invoices</td>
    </tr>
    <tr>
      <td style="border-bottom: black dotted 1px;border-right: black dotted 1px;text-indent:4px">Settings</td><td style="border-bottom: black dotted 1px">Access to the Settings. Edit your companys address and settings</td>
    </tr>
    <tr>
      <td style="border-bottom: black dotted 1px;border-right: black dotted 1px;text-indent:4px">Reports</td><td style="border-bottom: black dotted 1px">Access to various historic reports</td>
    </tr>
  </table>
  </p>
  <p>
    The system will not let you remove all users from being an <i>Adminnistrator</i> as there must always
    be a user to has full access to the system.
  </p>
  <p>
    Clicking on your own name in the user manager will allow you to change your password.
    </p>
</div>