<div id="header">Client - Period Start Day</div>
<br />
<div>
  The <i>Monthly Period Start Day</i> allows you to specify when your clients invoice period begins.
  <p>
    Not everyone likes to be billed from the 1st of the month to the end. Some have their own invoicing periods.
  </p>
  <p>
    By default, <i>Monthly Period Start Day</i> is set to the 1st of the month. Selecting a different day will
    ensure that invoices are cut off on the day before the day specified.
  </p>
  <p>
    For example, if you specify the 15th of the month as the start day, then the 14th will become each invoices end date. A timesheet
    that has an end date of 17th will be added to the next months invoice.
  </p>
  <p>
    Please note that a single timesheet is never split across two invoices. If a timesheet crosses over a monthly
    invoicing period it will still be assigned according to the timesheet end date.
  </p>
</div>