<div id="header">Client - Approvers</div>
<br />
<div>
  A client can have multiple approvers associated with it. Approvers can then be assigned to contracts as and when appropriate.
  <p>
    Approver users cannot register to use ClockOff.com via the web site as contractors/temps can. In order to be set up they need to be invited by a recruitment agency.
  </p>
  <p>
    Click the <i>Add Approver</i> link to add/invite a new approver.
  </p>
  <p>
    An approver can be linked to more than one recuitment agency. Therefore, when you want to remove
    an approver it will not delete the user from the system - it will just remove the link between you and them.
  </p>
</div>