<div id="header">Client - Default Margin</div>
<br />
<div>
  The <i>Default Margin</i> is the percentage you charge on top of the timesheet rates.
  <p>
    You must specify a <i>Default Margin</i> for a client. When you create a contract for a client, this will be
    the default margin applied to the contract.
  </p>
  <p>You can change the margin on each contract if needed.</p>
  </div>