<div id="header">Client - External Ref</div>
<br />
<div>
  The <i>External Ref</i> is used to link you client record in clockoff.com to the same
  client located in an external accounting system, such as Sage.
  <p>
    When you want to export invoice data for this client you will need to make sure that it is
    imported against the correct client record. All you need to do is supply the client reference that you
    use for this client in other system. When you export your invoice data this is reference will be used.
  </p>
  
</div>