<div id="header">Client - Invoice Period</div>
<br />
<div>
  The <i>Invoice Period</i> specifies how timesheets are assigned to invoices.
  <p>
    When a timesheet is submitted the worker will have selected the rates for each shift. When the timesheet
    is approved it needs to be assigned to an invoice so that the client can be billed for the timesheet. A client invoice
    can have many timesheets associated with it.
  </p>
  <p>
    By selecting <i>Weekly</i>, the client will have an invoice generated for each week. Each timesheet approved for this
    client will be assigned to the invoice that matches the timesheets end date. For example, any timesheets with
    an end date of Sunday 7th June, will be assigned to the invoice with the same date.
  </p>
  <p>
    By selecting <i>Monthly</i>, the client will only have one invoice per month. The start date of the invoice
    is determined by the <a href="/help/client_monthly_start_day">Monthly Period Start Day</a>. Each timesheet, when approved, will
    be assigned to the appropriate invoice according to its date.
  </p>
</div>