<div id="header">Contract - Margin</div>
<br />
<div>
  The <i>Margin</i> is the percentage applied on top of the pay rate for generating the correct pay rate and is only applied as you create and edit the rates
  associated with the contract..
  <p>
    When a contract is created the margin is set from the default <a href="/help/client_margin">Client Margin</a>. However, each contract can have
    its own margin as it is likely that different departments within your clients may negotiate different rates.
  </p>
  <p>
    Sometimes the client will dictate the exact charge rate for the contract, so there is no need for you to use the margin. In this case you can set the
    margin to any value and simply type in the charge rate directly.
  </p>
  <p>
    See also: <a href="/help/contract_managing_rates">Managing Rates</a>
  </p>

</div>