<div id="header">Contract - Ref</div>
<br />
<div>
  The <i>Ref</i> field allows you to specify a unique reference for this contract.
  <p>
    This can either be a value that you specify yourself that might come from another system/database you use
    to manage your business or may be the reference the client has given you.
  </p>
  <p>
    The <i>Ref</i> is unique to the client. You cannot specify the same ref for contracts belonging to the same client.
  </p>
 
</div>