<div id="header">Contract - Approvers</div>
<br />
<div>
  Each contract can have any number of approvers assigned to authorise the timesheets submitted by the temp.
  <p>When a timesheet is submitted all the approvers assigned to the contract will be alerted by email. The first one to respond will be able
    to approve/deny the timesheet.
  </p>
  <p>
    The approvers need to be registered users of clockoff.com. You can invite them from the <i>Edit Client</i> screen.
  </p>
  <p>
    Additional Information: <a href="/help/client_approvers">Approvers</a>
  </p>
</div>