<div id="header">Contract - Rates (Active)</div>
<br />
<div>
  The <i>Active</i> checkbox allows you to enable or disable a rate for use in the timesheets. In order to preserve the integrity, and history
  of the timesheet data you are not allowed to delete a rate once it has been used in a timesheet. If you want to make sure it is no longer
  used then you simply uncheck the <i>Active</i> checkbox.
  <p>
    The four default rates cannot be marked as inactive.
  </p>
</div>