<div id="header">Contract - Allow Overtime</div>
<br />
<div>
  You can control whether the worker is allowed to submit overtime or not.
  <p>If you select 'No' then they will not see any <i>Overtime</i> rates in their timesheet.</p>
  <p>
    It is still possible for them to add extra shifts to the timesheet which may exceed their daily amount of hours. However, these
    will still be charged at the <i>Standard</i> rate that they have selected.
  </p>
</div>