<div id="header">Contract - Rates (EffectiveDate)</div>
<br />
<div>
  The <i>EffectiveDate</i> allows you to specify when a rate should become effective. If specified, only timesheets
  that have days that are equal to or greater than this date will be shown in the timesheet.
  <p>
    The four default rates do not have any dates associated with them as they are always available.
  </p>
</div>