<div id="header">Contract - Allow Bank Holidays</div>
<br />
<div>
  You can control whether the worker is allowed to work bank holidays or not.
  <p>If you select 'No' then they will not see any <i>Bank Holiday</i> rates in their timesheet.</p>
  <p>
    In the timesheet they will still have the option of being able to fill in the time/hours, in case there is a situation
    whereby they need to work. However, by not allowing Bank Holidays there will be no special Bank Holiday rate for them
    to select. A bank holiday in this case will automatically have the <i>Unpaid</i> rate associated with it.
  </p>
  <p>
    If you have selected <i>Yes</i> to allow them to work a bank holiday, and you have specified a bank holiday rate then this
    will be automatically selected for them in the timesheet when a bank holiday occurs.
  </p>
</div>