<div id="header">Contract - Managing Rates</div>
<br />
<div>
  As well as the default rates that are generated when you create a new contract, you can also create new ones.
  <p>
    When creating rates you should make sure you give them names that are meaningful so the temp will know what to select
    when they submit their timesheet.
  </p>
  <p><strong>Effective Dates and End Dates</strong><br />
    Each rate can have an <i>Effective Date</i> and an <i>End Date</i>. This allows you to specify rates for specific days, weeks, or other periods
    where the temp will be entitled to choose other rates. If dates within the timesheet are not within the period of a rate that has
    dates defined, it will not be available to the temp.
  </p>
  <p>Rates that have no <i>Effective Date</i> or <i>End Date</i> are always available unless you disable them. A rate can also have an <i>Effective Date</i>
  without having an <i>End Date</i>. In this case, timesheets that have days equal to or greater than the effective date can use this rate from this
  point on.
  </p>
  <p><strong>Deleting Rates</strong><br />
    Once a rate is in use you will not be able to delete it. Instead, you can specify that the rate is no longer active so it won't appear in the
    timesheet for the temp.
  </p>
  <p><strong>Editing Rates</strong><br />
    When editing rates you should be careful that the rate is not being applied to a timesheet that is in draft. If so, the new values will be
    used when the draft timesheet is submitted. You will know if this is the case because when you edit a rate, if there is a timesheet using
    that rate that is in draft, you will see a warning telling you such.
  </p>


</div>