<div id="header">Contract - Start and End Dates</div>
<br />
<div>
  The start date of a contract must always be a Monday.
  <p>
    The end date of the contract can be any date, as long it is later than the start date.
  </p>
  <p>
    When the contract is first created you can change the start and end dates as you want. However, when
    a timesheet has been created by a temp you will not be able to change the start date. The end date
    can be changed at any time.
  </p>
  <p>
    You will not be allowed to change the end date to a date less than the last timesheet that was created against
    the contract.
  </p>

</div>