<div id="header">Contract - Assigning Temps</div>
<br />
<div>
  When you have created a new contract you are ready to assign a temp to it.
  <p>
    The temp must already be a registered user of clockoff.com for you to assign them. If they are not already registered, you can
    either tell them to visit www.clockoff.com to sign up, which will only take a few minutes or you can click on the <strong><i>Temps</i></strong>
    tab, and the <i>Invite Workers</i> link, to send them an email containing a link for registration.
  </p>
  <p>
    Simply type the last name, or email address of the temp in the box and click search to locate the person. You will then see a list of people that match the
    last name. If you used their email address you will only see one result as email addresses are unique to each user.
  </p>
  <p>
    Click the green <i>add</i> icon <img src="/images/add_16.gif" alt="add" /> to add the temp. You won't need to click the save button on the contract.
  </p>
  <p>
    If no timesheets have been created, you can remove the temp and re-assign someone else. However, if there are
    timesheets associated with the contract then you will not be able to remove the temp.
  </p>

</div>
