<div id="header">Contract - Require Full Week</div>
<br />
<div>
  Select <i>Require Full Week</i> to ensure that the temp fills supplies shift information for Saturday and Sunday as well
  as the rest of the week.
  <p>
    If <i>Require Times</i> is also selected the temp will have to fill in the shift times for Saturday and Sunday before they can
    submit the timesheet.
  </p>
</div>