<div id="header">Contract - Rates (EndDate)</div>
<br />
<div>
  The <i>EndDate</i> allows you to specify when a rate should stop being available. If specified, only timesheets
  that have days that are equal to or less than this date will be shown in the timesheet.
  <p>
    The four default rates do not have any dates associated with them as they are always available.
  </p>
</div>