<div id="header">Contract - Rates (PayRate)</div>
<br />
<div>
  The PayRate is used to allow the system to generate the ChargeRate for you. Fill in the PayRate
  and use the tab button, or click elsewhere on the form to see the generated charge rate.
</div>