<div id="header">Contract - Require Time Entry</div>
<br />
<div>
  Select <i>Require Time Entry</i> if you (or the client) need the temp to input their shift times
  into the timesheet. Selecting <i>Yes</i> will ensure that the temp cannot submit the timesheet without
  having supplied the shift times.

</div>