<div id="header">Contract - Rate Type</div>
<br />
<div>
  The <i>Rate Type</i> allows you to specify how the worker is charged to the client - whether by a daily rate, or hourly.
  <p>By selecting <i>Day</i> you will need to specify the standard daily rate that they will be charged to the client at. Although
  they are on a daily rate, overtime will still be specified as an hourly rate.
  </p>
  <p>Please note that you will not be able to create a <i>Standard, Hour</i> rate for workers on a daily rate.</p>
  <p>Once a contract has been created you cannot change the rate type. If you want to switch the user to a different rate type you must
    finish the current contract by changing the <i>End Date</i> of the contract and create a new contract for the worker on the new rate type.</p>
</div>