<div id="header">Invoicing</div>
<br />
<div>
  When a timesheet is approved it is added to a client invoice. These invoices can be viewed and exported in the <i>Invoicing</i> section.
  <p>
    Invoicing has three stages: Search, Export and Sign-Off.
  </p>
  <p>
    <strong>Search</strong><br />
    Firstly, you need to search for the invoices. In the top right hand corner you will see a dropdown box
    containing your clients. You can search for invoices for all clients, or select an individual client. Just specify the
    date range and click <i>Search</i>.
    <br /><br />
    If you want to include invoices that have been marked as <i>Inactive</i> or <i>signed-off</i> you should
    tick the approrate checkbox.
  </p>
  <p>
    <strong>Export</strong><br />
    When you are happy that the invoice data is correct, you can then select the invoices you want to export
    by ticking the checkbox on each row. Select the file format you want to export to and click the <i>Export</i>
    button.
  </p>
  <p>
    <strong>Sign-Off</strong><br />
    Once you have exported the invoices you should mark them as being <i>Signed-Off</i>. This will prevent the
    invoices from appearing the search and will make it clear that you have finished processing them.
  </p>
  <p>
    Please note that if you select a large date range the data will scroll down the page. Paging (i.e. Page 1, Page 2 etc)
    does not happen on the invoicing screen.
  </p>
</div>