<div id="header">Invoice - Inactive</div>
<br />
<div>
  Sometimes you may want to invoice you client by typing in the data into your accounting system
  directly, rather than exporting the data from clockoff.com. In this case you can mark an invoice as <i>Inactive</i>
  so that it doesn't appear in the invoice search.
  </div>