<div id="header">Invoice - Date</div>
<br />
<div>
  The invoice data is determined by the <a href="/help/client_invoice_period">Client Invoice Period</a>.

  <p>
    <strong>Monthly</strong><br />
    The invoice date will be the last day of the monthly invoice period. If the <a href="/help/client_monthly_start_day">start day</a> of the monthly invoice
    period is 1, the invoice date will be the last day of the month, whether it's 31, 30, or 28. If the start day is any other value the
    invoice date will be the day before.
  </p>
  <p>
    <strong>Weekly</strong><br />
    The invoice date will be the Sunday of each week.
  </p>
</div>