<div id="header">Automated Timesheet Reminders</div>
<br />
<div>
  We want to make it as easy as possible for the timesheets to be submitted on time, allowing you to process them efficiently. Since a great deal of time
  can be spent emailing and phoning or emailing temps/contractors and approver to get this done we added an automated feature to send reminders out for you.
  <p><span style="font-weight: bold">How does it work?</span><br/>
    Firstly, you will need to specify the cut-off day and time for each week. This is the day and time that all timesheets need to be submitted and approved on any
	given week. For example, 10:30 every Tuesday.</p>
  <p>Currently, the system will send out an automated reminder email to workers or approvers at the following intervals before the cut-off day/time:</p>
  <p>24 hours<br />8 hours<br />2 hours</p>
  <p>To turn this feature on you simply need to tick the <i>Enable Automated Weekly Timesheet Email Reminders</i> checkbox.</p>
   
</div>