<div id="header">Other Settings</div>
<br />
<div>
  <span style="font-weight: bold">Sage Nominal Code</span><br />
  The Sage Nominal Code allows you to specify the nominal code you use when you export your invoices for importing into Sage.
  <p><span style="font-weight: bold">Default Margin</span><br />
  When you import clients into ClockOff.com you do not specify a margin. This default value will be used. You can then set the margin accordingly for each client imported by editing the client in the usual way.
  </p>
  <p><span style="font-weight: bold">Use Invoicing</span><br />
  Not every agency that uses ClockOff.com uses the Invoicing feature. If this is the case, you can un-check the box for this setting and you will no longer see the
  Invoicing menu.
  </p>
  <p><span style="font-weight: bold">Calculate PAYE as Default</span><br />
  When you create a new contract you have the option of calculating the charge rate using PAYE settings (i.e. Employers NI and Holiday Accrual). If you mostly hire
  contract workers that are not paid this way then it can be a pain to have to un-check this on each contract. Therefore, you can specify if you want this set or
  not here.
  </p>
   
</div>