<div id="header">General Settings</div>
<br />
<div>
  The general settings allow you to supply your contact details. This is not only useful to us at ClockOff.com, but also to the temps/contractors working through you.
  <p>
    When automated emails are sent, your company name, address, phone number etc is often used. Also, if a timesheet is printed in order to be manually
	faxed to you then it is important that your fax number be correct as this is the number that will appear on the generated timesheet.</p>
  <p>It is recommended that you use a dedicated email address, such as temps@yourcompany.com, contracts@yourcompany.com or even clockoff@yourcompany.com. This will
  make it easier to distinguish emails that are related to your timesheet processing.</p>
   
</div>