.DS_Store
.project
.loadpath
log/*
tmp/**/*
doc/api
doc/app
db/*.sqlite3
public/stylesheets/cache/*
public/javascripts/cache/*
config/database.yml
db/sphinx/development/*
nbproject/*
public/agency_files/*
extras/fonts/*
