Dear <%= @user.last_name_with_title %>,

<p>Thank you for registering with clockoff.com. Your account has been activated and is ready for you to use.</p>

<p>To login, please visit <a href="https://timesheets.clockoff.com">https://timesheets.clockoff.com</a>.</p>

<p>Regards,</p>

<p>The clockoff.com team.</p>