<p>Dear <%= @user.last_name_with_title %>,</p>

<p>We have received a request to remind you of your login name... so, here it is:

<p><%= @username %></p>

<p>Regards,</p>

<p>The ClockOff.com team.</p>
