Dear <%= @user.last_name_with_title %>,

<p>Your new ClockOff.com account has been created and now needs to be activate.</p>

<p>To complete this process please click the following link:</p>

<p><a href="<%= @url %>"><%= @url %></a></p>

<p>Once activation is complete you will receive another email confirming your login details and you can login immediately.</p>

<p>Regards,</p>

<p>The ClockOff.com team.</p>