Dear Sir/Madam,
<p>You have received this email because <%= @agency.name %> would like to invite you to use <a href="http://www.clockoff.com">ClockOff.com's</a> online timesheet system.</p>
<p>Registration is simple and will only take a minute. Simply visit <a href="http://www.clockoff.com/signup">www.clockoff.com/signup</a> to register.</p>
<p>If you have any questions or queries please contact <%= @agency.name %> on <%= @agency.phone %>.</p>
<p>Kind regards,</p>
<p>The ClockOff.com team.</p>