Dear Sir/Madam,

Unfortunately, your 30 days trial period of ClockOff.com has expired. We hope you found your experience pleasurable and hope that you stay with us.

<p>In order to do this all you need to do is <a href="www.clockoff.com/mandate.pdf">download</a> the direct debit mandate and fax it to us on 0870 132 1439.
When we have received this you will be able to access your account again.</p>

<p>We're lways interested in hearing feedback or comments on our software. If possible, please take a few minutes to <a href="mailto:info@clockoff.com">email us</a>
and let us know your thoughts.</p>

<p>In the meantime we'd like to take this opportunity for taking an interested in clockoff.com</p>

<p>Kind regards,</p>

<p>Ben Hinton<br />Director, ClockOff.com</p>
