Hi,

<p>We hope you've been enjoying your trial of ClockOff.com. Unfortunately the 30 day trial period is coming to an end soon. We'd hate to see you go though!
To come off the trial period all you need to do is fill in the direct debit mandate. There are a few options with this:
You can <a href="http://www.clockoff.com/mandate.pdf">download</a>
it and fax the completed form to us on 0870 132 1439 - or you can send us an email at <a href="mailto:support@clockoff.com?subject=Direct Debit">support@clockoff.com</a> and we'll call you
back and take your details over the phone.
</p>
<p>If you have any questions, comments or suggestions please let us know and we'll be happy to help</p>
<p>Regards,</p>
<p>Ben Hinton<br/>Director - ClockOff.com</p>
