
body.overview div.page_header {
padding-right:15px;
}

body.overview .innercol {
padding-top:10px;
}

h1.index {
font-size:14px;
margin:5px 0 15px 0;
padding:0;}
div.page_header h1.index {
color:#000000;
margin:0;
}

.sidebar_form {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F2F5FB none repeat scroll 0 0;
border:1px solid #C0D1EC;
margin-bottom:15px;
padding:0;
}
.sidebar_form .inner {
border:1px solid #FFFFFF;
padding:0 0 4px;
}
.sidebar_form input, .sidebar_form textarea {
/*width:95%;*/
}
.sidebar_form div.body {
padding:0 10px 5px;
}
.sidebar_form .header a:link, .sidebar_form .header a:visited, .sidebar_form .header a:hover, .sidebar_form .header h1 {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
color:#000000;
display:block;
font-size:14px;
font-weight:bold;
line-height:24px;
margin:0;
padding:6px 10px 2px;
}
p {
color:#222222;
font-size:12px;
line-height:1.4em;
margin:0 0 15px;
}
h1, h2 {
margin-bottom:5px;
}
h1 {
font-size:16px;
}
li {
font-size:12px;
}
.red {
color:red;
}
body {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E5E5E5 none repeat scroll 0 0;
color:#222222;
font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
font-size:14px;
margin:0 auto;
padding:0;
text-align:center;
}
td {
font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
}
table {
border-collapse:collapse;
}
a {
padding:1px;
text-decoration:underline;
}
form {
margin:0;
padding:0;
}
input {
font-size:14px;
}
.submit input, input.submit {
color:#000000;
width:auto;
}
div.wrapper {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#E5E5E5 none repeat scroll 0 0;
margin:0 auto;
min-width:800px;
padding:12px 23px 0 30px;
}
div.container {
margin:0 auto;
text-align:center;
}
.Left {
float:left;
margin:0;
padding:0;
text-align:left;
width:68%;
}
.Right {
float:left;
margin:0;
padding:0;
text-align:left;
width:32%;
}
.col {
padding:0 20px;
text-align:left;
}
.container div.topmost_col {
display:none;
padding-bottom:0;
}
.Left .col, .Full .col, .Fixed .col {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#FFFFFF url(/images/right-bg.gif) repeat-y scroll right center;
padding:0 0px 0 0;
}
.Fixed {
margin:0 auto;
width:950px;
}
.Left .innercol, .Full .innercol, .Fixed .innercol {
padding:15px 60px 20px 23px;
}
div.page_header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#EDF3FE none repeat scroll 0 0;
margin:0;
padding:13px 30px 13px 24px;
}
.Right .col {
min-width:200px;
padding:0 0 0 12px;
}
div#Header {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#003366 none repeat scroll 0 0;
margin:0;
min-width:900px;
overflow:hidden;
padding:10px 23px 0 30px;
position:relative;
text-align:left;
}
#global_links {
color:#56778B;
float:right;
font-size:10px;
line-height:10px;
text-align:right;
width:330px;
}
div#Header h1 {
color:#FFCC00;
font-size:24px;
font-weight:normal;
margin:0;
padding:0;
text-align:left;
}
#upgrade_bar {
font-size:10px;
line-height:10px;
margin-bottom:10px;
padding-top:1px;
text-align:left;
}
#upgrade_bar a, #upgrade_bar a:hover {
color:#FFFFFF;
}
#upgrade_bar a:hover {
background-color:#000000;
}
#global_links {
color:#56778B;
float:right;
font-size:10px;
line-height:10px;
text-align:right;
width:330px;
}
#global_links img {
margin-left:3px;
vertical-align:middle;
}
#global_links a {
color:#FFFFFF;
padding:0;
}
#global_links a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#000000 none repeat scroll 0 0;
}
#Tabs {
clear:left;
height:24px;
margin:15px 0 0;
padding:0;
}
#Tabs ul {
margin:0;
padding:0;
}
#Tabs li {
border:medium none;
display:inline;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#Tabs a:link, #Tabs a:visited {
background-color:#939DAC;
border-color:#003366 #003366 #939DAC;
border-style:solid;
border-width:1px;
color:#FFFFFF;
float:left;
font-size:12px;
font-weight:normal;
margin:0;
padding:3px 8px 5px;
text-decoration:none;
}
#Tabs {
clear:left;
height:24px;
margin:15px 0 0;
padding:0;
}
#Tabs ul {
margin:0;
padding:0;
}
#Tabs li {
border:medium none;
display:inline;
list-style-image:none;
list-style-position:outside;
list-style-type:none;
margin:0;
padding:0;
}
#Tabs a:hover, #Tabs li.workspace a:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#010A4B none repeat scroll 0 0;
border-bottom:1px solid #010A4B;
color:#FFFFFF;
}
#Tabs a:link, #Tabs a:visited {
background-color:#939DAC;
border-color:#003366 #003366 #939DAC;
border-style:solid;
border-width:1px;
color:#FFFFFF;
float:left;
font-size:12px;
font-weight:normal;
margin:0;
padding:3px 8px 5px;
text-decoration:none;
}
a.image img {
border:medium none;
margin:0;
padding:0;
}
div#Footer {
color:#666666;
font-size:10px;
line-height:1.2em;
text-align:left;
}
div#Footer a {
color:#666666;
}
div#Footer a:hover {
color:#FFFFFF;
}
a.image:link, a.image:visited, a.image:hover {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent none repeat scroll 0 0;
padding:0;
}
div#Footer img {
margin-right:10px;
}
a img {
border:medium none;
}
div.task {
clear:both;
margin:0;
padding:3px;
z-index:-1;
}

div.task div.body {
margin-left:21px;
}
.Right div.task div.body {
line-height:1.3em;
}


.new_task {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F2F5FB none repeat scroll 0 0;
}
.new_task div.task div.body {
margin:0;
}

.new_task h1 span {
font-size:12px;
font-weight:normal;
}


.Right div.new_task_wrapper {
margin-bottom:20px;
min-height:41px;
position:relative;
}
body.overview .Right div.new_task_wrapper {
min-height:31px;
}
div#quick_show_window {
position:absolute;
}
div#quick_show_window, div#quick_show_window * {
z-index:2000;
}
div#quick_show_window div.quick_show_window_position {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:transparent url(/images/quick_show_shadow.png) no-repeat scroll right bottom;
padding:0 6px 6px 0;
position:relative;
right:-25px;
}
div#quick_show_window div.quick_show_window_content {
-moz-background-clip:border;
-moz-background-inline-policy:continuous;
-moz-background-origin:padding;
background:#F7F5E7 none repeat scroll 0 0;
border:3px solid #E8E5D2;
color:#000000;
padding:5px 15px;
text-decoration:none;
}
.small_icon {
    height: 16px;
    width: 16px;
}