body {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#E5E5E5 none repeat scroll 0 0;
 color:#222222;
 font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
 font-size:0.8em;
 margin:0 auto;
 padding:0;
 text-align:center;
}
body.overview .innercol {
/*padding-top:10px;*/
}
#blue-box{
/*margin-top:5px;*/
 width:100%;
 background-color:#F0E68C
}
.padder {
/*padding:5px;*/
}
body.overview div.page_header {
 padding-right:15px;
}
div.page_header {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#F8E0E0 none repeat scroll 0 0;
 margin:0;
 padding:8px 0px 9px 10px;
}
div.page_header h1.index {
 color:#000000;
 margin:0;
}
.Right {
 float:left;
 margin:0;
 padding:0;
 text-align:left;
 width:32%;
}
body.overview .Right div.new_task_wrapper {
 min-height:31px;
}
body .Right h1 {
 background-color:#EDF3FE;
 border-bottom:1px solid #DCDCDC;
 color:#333333;
 font-size:0.9em;
 margin:0 0 0px;
 padding:6px 8px;

}
.Right .col {
 min-width:200px;
 padding:0 0 0 12px;
}

.Right div.new_task_wrapper {
 margin-bottom:20px;
 min-height:41px;
 position:relative;
}
.Right div.module {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#F5F5F5 none repeat scroll 0 0;
 border-bottom:1px solid #BBBBBB;
 border-right:1px solid #CCCCCC;
 clear:left;
 margin-bottom:8px;
 overflow:hidden;
}
.Right div.module div.inner {
 padding:5px 8px 10px 10px;
}
.Right div.module div.inner h2 {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:transparent none repeat scroll 0 0;
 border:medium none;
 color:#333333;
 font-size:13px;
 font-weight:bold;
 margin:0;
 padding:0 0 8px;
}
div.Right div.module p {
 color:#444444;
 font-size:13px;
 margin:0 0 10px;
}
.Left {
 float:left;
 margin:0;
 padding:0;
 text-align:left;
 width:68%;
}
.Left .col {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#FFFFFF url(/images/right-bg.gif) repeat-y scroll right center;
 padding:0 8px 0 0;
 margin-right:25px
}
.Left .innercol{
 padding:5px 5px 10px 5px;
}
.Left .bottom{
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#E5E5E5 url(/images/bottom-bg.gif) no-repeat scroll right top;
 font-size:8px;
 padding:12px 0 20px 20px;
 margin-right:25px
}
table {
 border-collapse:collapse;
}
td {
 font-family:"Lucida Grande",verdana,arial,helvetica,sans-serif;
 text-indent:0px
}
tr{
 vertical-align:middle
}
tr.totals {
 background-color:#EDF3FE;
 height: 35px;
}
tr.odd {
 background-color: #C4C4B3;
}
tr.even {
 background-color: #ECEBCC;
}
tr.row_border_bottom {
border-bottom:1px solid silver;
}

.with_margins
{
    padding: 0px 10px 0px 10px;
}

table#timesheet{}

#timesheet tr td {
 padding:0 2px;
}
tr.timesheet_row {
 height:30px;
}
tr.data_table_header{
 background-color:#90EE90;
 line-height:20px
}
h1, h2 {
 margin-bottom:5px;
}
h1 {
 font-size:16px;
}
h1.index {
 font-size:14px;
 margin:5px 0 15px 0;
 padding:0;
}
div#Header h1 {
 color:#FFCC00;
 font-size:24px;
 font-weight:normal;
 margin:0;
 padding:0;
 text-align:left;
}

p {
 color:#222222;
 font-size:12px;
 line-height:1.4em;
 margin:0 0 15px;
}
li {
 font-size:12px;
}
a {
 padding:1px;
 text-decoration:underline;
}
form {
 margin:0;
 padding:0;
}

input {
 font-size:14px;
}

.col {
 padding:0 20px;
 text-align:left;
}
div.wrapper {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#E5E5E5 none repeat scroll 0 0;
 margin:0 auto;
 min-width:800px;
 padding:12px 23px 0 30px;
}
div.container {
 margin:0 auto;
 text-align:center;
}
div#Header {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#003366 none repeat scroll 0 0;
 margin:0;
 min-width:900px;
 overflow:hidden;
 padding:10px 23px 0 30px;
 position:relative;
 text-align:left;
 min-width:900px
}
#global_links {
 color:#56778B;
 float:right;
 font-size:10px;
 line-height:10px;
 text-align:right;
 width:330px;
}
#global_links a {
 color:#FFFFFF;
 padding:0;
}
#global_links a:hover {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#000000 none repeat scroll 0 0;
}
#notice, #error_msgs {
 background-color:#FFFFCC;
 padding: 10px 10px 18px 10px;
 margin: 0 auto;
 width: 93%;
 border-bottom:1px solid #FF9900;
 border-top:1px solid #FF9900;
 padding:3px 25px;
 margin-bottom:4px
}
/*#upgrade_bar a, #upgrade_bar a:hover {
color:#FFFFFF;
}
#upgrade_bar a:hover {
background-color:#000000;
}*/
#Tabs {
 clear:left;
 height:24px;
 margin:15px 0 0;
 padding:0;
}
#Tabs ul {
 margin:0;
 padding:0;
}
#Tabs li {
 border:medium none;
 display:inline;
 list-style-image:none;
 list-style-position:outside;
 list-style-type:none;
 margin:0;
 padding:0;
}
#Tabs li a:hover{
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#010A4B none repeat scroll 0 0;
 border-bottom:1px solid #010A4B;
 color:#FFFFFF;
}
#Tabs a:link, #Tabs a:visited {
 background-color:#939DAC;
 border-color:#003366 #003366 #939DAC;
 border-style:solid;
 border-width:1px;
 color:#FFFFFF;
 float:left;
 font-size:12px;
 font-weight:normal;
 margin:0;
 padding:3px 8px 5px;
 text-decoration:none;
}
#Tabs a.current:link, #Tabs a.current:visited {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background: #E5E5E5 url(/images/tab-bg.gif) repeat-x scroll center top;
 border-bottom:1px solid #E5E5E5;
 color:#009900;
 font-size:12px;
 font-weight:bold;
 margin:0;
 padding:3px 8px 5px;
 text-decoration:none;
}
#Tabs a:hover{
 color:#000
}
a img {
 border:medium none;
}
a.image img {
 border:medium none;
 margin:0;
 padding:0;
}
a.image:link, a.image:visited, a.image:hover {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:transparent none repeat scroll 0 0;
 padding:0;
}
div#Footer {
 color:#666666;
 font-size:10px;
 line-height:1.2em;
 text-align:left;
}

div#quick_show_window {
 position:absolute;
}
div#quick_show_window, div#quick_show_window * {
 z-index:2000;
}
div#quick_show_window div.quick_show_window_position {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:transparent url(/images/quick_show_shadow.png) no-repeat scroll right bottom;
 padding:0 6px 6px 0;
 position:relative;
 right:-25px;
}
div#quick_show_window div.quick_show_window_content {
 -moz-background-clip:border;
 -moz-background-inline-policy:continuous;
 -moz-background-origin:padding;
 background:#F7F5E7 none repeat scroll 0 0;
 border:3px solid #E8E5D2;
 color:#000000;
 padding:5px 15px;
 text-decoration:none;
}
.small_icon {
 height: 16px;
 width: 16px;
}
td.header {
 border-bottom:2px solid #324D68;
}
td.row_border_right {
 border-right: #324d68 solid 1px;
}
input.timesheet_input
{
 border: 1px solid;
 width: 68px;
}
.spaced_input
{
 margin-top: 2px;
 margin-bottom: 2px;
}
/*table#timesheet{
    background-color:#F0E68c;
}*/
.large_text {
 font-size:1.2em;
}
.bold {
 font-weight:bold;
}
.generalButton {
 border: 1px solid #AFAFAF;
 padding:0px 4px 4px 4px;
 height: 20px;
 font-size: 0.9em;
 color: #575757;
 font-weight: bold;
 background: #FFF url(/images/button-bg.gif) repeat-x top left;
 margin-bottom: 2px;
}
.generalButton:hover {
 background: #D0EA99;
}
.odd_row_dull {
	background-color: #D3DBE2;
}
span.required{
    color:red
}