<div id="nav-bar-box">
  <%= two_column_nav_bar_layout2("New Approver Created", "") %>
</div>

<div id="blue-box">
  <div class="padder">
<div style="padding-top:50px">
  <table style="height: 300px; width: 100%">
        <tr>
            <td style="text-align: center;font-size:1.2em">Your account has been successfully created.
            <p>Please check your email account and follow the instructions to complete your account activation.</p>
            <p>&nbsp;</p>
            <p>Thank you,</p>
            <p>The clockoff.com team.</p>
            </td>
        </tr>
  </table>
  <br />
 

</div>
</div></div>
<script type="text/javascript">

  var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  navbarbox.render('nav-bar-box');
  var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox.render('blue-box');
  
</script>