<div style="width: 100%; background-color:#95B90D; height: 30px;"></div>
<div style="width: 100%; background-color:#708b0a; height: 10px;"></div>
<br />
<br />
<table align="center" width="70%">
  <tr>
    <td align="center" style="font-size:1.3em">Thanks for signing up!</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">There's just one more thing. We need to check that your email address is valid, so you will shortly receive an email which will contain a link for you to complete the activation process.</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td align="center">Once activation is complete you will be able to login. The recruitment agency you'll be working through is responsible for setting up your contract so you can submit timesheets. </td>
  </tr>
  <tr align="center">
    <td>We hope you enjoy using clockoff.com.</td>
  </tr>
</table>