<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_tag('import_clients', :multipart => true) do %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              <a href="/clients">Clients</a> >> Import Clients
            </h1>
          </div>          
          <div class="innercol">
            <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
            <div id="blue-box">
              <div class="padder">
                <%= show_notice(flash[:notice]) %>
                <%= show_errors('Unable to import CSV file', flash[:alert]) %>
                <table style="margin-left:10px;margin-bottom:10px" cellpadding="2" cellspacing="0">
                  <tr>
                    <td style="height:25px">
                      <b>Import Requirements</b>
                      <div>Each field must be in the correct order and within the length specified below:
                        <p class="bold">
                          <table >
                            <tr>
                              <td class="required">Name (100)</td>
                            </tr>
                            <tr>
                              <td class="required">Addr1 (75)</td>
                            </tr>
                            <tr>
                              <td>Addr2 (75)</td>
                            </tr>
                            <tr>
                              <td>Addr3 (75)</td>
                            </tr>
                            <tr>
                              <td class="required">City (75)</td>
                            </tr>
                            <tr>
                              <td>Region (75)</td>
                            </tr>
                            <tr>
                              <td>PostCode (15)</td>
                            </tr>
                            <tr>
                              <td>ExternalRef (75)</td>
                            </tr>
                          </table>
                        </p>
                        <p>The fields marked in <span class="required">red</span> are required and must be supplied.</p>
                        <p>The csv file may contain a header. If so you should
                        tick the '<i>Contains Header</i>' checkbox to make sure that this row is not imported as a client.</p>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <b>CSV Import Format</b>
                      <div>
                        Each client should be on a separate row. Copy and paste the text below into a text editor:
                        <p style="font-family:monospace;font-size: 1.2em">
                          AA Services Ltd,100 Bond Street,,,London,,EC1M 8YH,AAS01<br/>
                          ABC Company,65 Byron Road,Lordshill,,Southampton,Hants,SO15 8HS,
                        </p>
                        <p>
                          Double quotes are allowed to define fields if required.
                        </p>
                        <p>
                          The importer will not import clients with the same name and town as existing clients. Tick the '<i>Allow Duplicates</i>' checbox to override this and import all rows.
                        </p>
                        <p>
                          Please note that the <i>ExternalRef</i> field must be unique across all your clients.
                        </p>
                      </div>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">

        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <p>
                  <%=submit_tag("Import",:class=>"generalButton")%>
                  <div class="import_header">Upload CSV File</div>
                  <div style="margin-top:5px">
                    <%= file_field_tag('upload', :accept => 'text/csv') %>
                    <p style="margin-left: 8px;"><input type="checkbox" name="has_header" />Contains Header?<br />
                      <input type="checkbox" name="allow_duplicates" />Allow Duplicates?
                    </p>
                  </div>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>