<div id="swap_from">
  <div id="screen_body" class="container">
    <% form_tag('send_invites') do %>
      <div class="Left">
        <div class="col">
          <div class="page_header">
            <h1 class="index">
              Invite Temps
            </h1>
          </div>
          <div class="innercol">
            <div>
              <div style="display: none;" id="error_msgs">
              </div>
              <div style="display: none;" id="notice">
              </div>
            </div>
            <div id="blue-box">
              <div class="padder">
                <table style="margin-top:10px;margin-left:10px" cellpadding="2" cellspacing="0" >
                  <tr>
                    <td >Enter one or more email addresses of workers you want to invite to use clockoff.com. <p>Multiple email addresses need to be sepatated with a comma.<p></td>
                  </tr>
                  <tr>
                    <td><textarea style="width:100%" rows="5" name="emails"></textarea></td>
                  </tr>
                  <tr><td>&nbsp;</td></tr>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div class="bottom">
        </div>
      </div>
      <div class="Right">
        <div class="col sidebar">
          <div class="new_task_wrapper">
            <h1>Actions</h1>
            <div class="module">
              <div class="inner">
                <p>
                  <input type="submit" class="generalButton" value="Invite" />
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div style="clear: both"></div>
</div>