<div id="swap_from">
  <div id="screen_body" class="container">
    <div class="Left">
      <div class="col">
        <div class="page_header">
          <h1 class="index">Invite Temps</h1>
        </div>
        <div class="innercol">
          <div>
            <div style="display: none;" id="error_msgs">
            </div>
            <div style="display: none;" id="notice">
            </div>
          </div>
          <div id="blue-box">
            <div class="padder">
              <% form_tag('send_invites') do %>
                <table align="center" style="margin:10px" cellpadding="2" border="0" cellspacing="0" >
                  <tr>
                    <td colspan="2" >
                      <div id="left-header-box" >
                        <div class="header-container bold">Invitations Sent</div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td colspan="2" align="center">Any emails that were not sent will be be because they are already registered with clockoff.com.</td>
                  </tr>
                  <tr>
                    <td colspan="2">&nbsp;</td>
                  </tr>
                  <tr>
                    <td class="header dotted_right">Email</td><td class="header" align="center">Sent</td>
                  </tr>
                  <% for email in @list %>
                    <tr>
                      <td class="dotted_right"><%= email[0] %></td><td align="center"><%= email[1] %></td>
                    </tr>
                  <% end %>
                  <tr><td>&nbsp;</td></tr>
                </table>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="Right">
      <div class="col sidebar">
        <div class="new_task_wrapper">
          <%= render :partial=>'/new_agency_dashboard_navigation'  %>
        </div>
      </div>
    </div>
  </div>
  <div style="clear: both"></div>
</div>
