<div class="col sidebar">
  <div class="new_task_wrapper">
    <div id="add_new_task" class="sidebar_form new_task">
      <div class="inner task">
        <div class="header">
          <h1>
              <% title = params['timesheet_status'].nil? ? 'Outstanding' : params['timesheet_status'] %>
              <% form_tag('/preparetimesheet', :method => 'get') do %>
              <% html_header = '' %>
              <% html_header << "&nbsp;#{title} Timesheets" %>
              <% html_header_right = '' %>

              <% if @contracts.length > 1 %>
                <% html_header_right << "Contract : #{collection_select(:contract_obj, 'contract_id' , @contracts, 'id', 'ref')}&nbsp;" %>
              <% elsif @contracts.length == 1 %>
                <% html_header_right << "#{submit_tag 'Create New Timesheet', :class => 'generalButton'}"  %>
              <% end %>
              <div>
                <%= single_column_layout(html_header, html_header_right) %>
              </div>
            <% end %>
          </h1>
        </div>
        <div class="body">
           <% form_tag('currenttimesheets', :method => 'get' ) do %>
            <table width="100%" cellpadding="4">
              <tr><td style="text-indent:8px">Filter By :</td></tr>
              <tr><td><%= select_tag('timesheet_status', options_for_select(['Outstanding', 'Submitted', 'Approved'], @selected_timesheet_status)) %></td></tr>
              <tr><td style="text-indent:8px">For the last:</td></tr>
              <tr><td><%= select_tag('date_period', options_for_select([['Month', '1'], ['3 Months', '3'], ['6 Months', '6'], ['9 Months', '6'], ['Year', '12']], @selected_date_period)) %>
              <tr><td><%= submit_tag 'View', :class => 'generalButton' %></td></tr>
           </table>

        <% end %>
        </div>
      </div>
    </div>
   </div>
</div>