<div class="MB_alert"><p>Do you really want to cancel the submission of this timesheet?</p>
<a style="color: red;font-weight:bold" href="#" onclick="document.ts_form.submit(); return true;">Yes</a> or <a style="color: green;font-weight: bold" href="javascript:none" onclick="Modalbox.hide()">No</a>
</div>