<div id="swap_from">
  <div id="screen_body" class="container">

                <%=render :partial=>"/timesheet_entry" %>
</div>

  <div style="clear: both"></div>
</div>


<script type="text/javascript">

  var navbarbox = RUZEE.ShadedBorder.create({corner:8, border:1});
  navbarbox.render('nav-bar-box');
  var bluebox = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox.render('blue-box');
  var type_box = RUZEE.ShadedBorder.create({corner:8, border:1});
  type_box.render('left-header-box');
  var bluebox1 = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox1.render('blue-box1');
  var bluebox2 = RUZEE.ShadedBorder.create({corner:8, border:1});
  bluebox2.render('blue-box2');
  CalcAll('<%= @timesheet.timesheet_entries.length%>');

</script>
