<div id="swap_from">
  <div id="screen_body" class="container">
    <%=render :partial=>"/prepare_timesheet_entry"%>
    </div>
  </div>
  <div style="clear: both">
  </div>
  <script type="text/javascript">
    CalcAll('<%= @timesheet.timesheet_entries.length%>');
  </script>
