<div style="width: 400px;padding-top: 100px;margin: 0 auto; color: red; height:300px;text-align: center">
  <span style="font-size: 1.5em">You are not authorised to view this page</span>
  <p>
    <%= session[:denied_url] %>
  </p>
</div>
<SCRIPT>display_errors('','');</SCRIPT>
