<ul>
  <li><a href="/admin/index" title="Contractor Manager"><span>Contractors</span></a></li>
  <li><a href="/admin/approvers" title="Approver Manager"><span>Approvers</span></a></li>
  <li><a href="/admin/agencies" title="Reports"><span>Agencies</span></a></li>
  <li><a href="/admin/payments" title="Payments"><span>Payments</span></a></li>
  <li><a href="#" title="Reports"><span>Reports</span></a></li>
  <li><a href="#" title="Reports"><span>Support</span></a></li>
  <li><a href="<%= url_for :action => 'logout', :controller => 'admin'%>" class="<%= "current" if session[:selected] == 'logout' %>" title="Exit"><span>Logout</span></a></li>
</ul>
