<table width="100%" cellpadding="0" cellspacing="0">
    <tr>
        <td style="padding-right: 20px;">
            <a class="header" href="http://www.clockoff.com">Home</a>
        </td>
        <td style="padding-right: 20px;">
            <a class="header" href="http://www.clockoff.com/features">Features</a>
        </td>
        <td style="padding-right: 20px;">
            <a class="header" href="http://www.clockoff.com/pricing">Pricing</a>
        </td>
        <td style="padding-right: 20px;">
            <a class="header" href="http://www.clockoff.com/support">Support</a>
        </td>
        <td>
            <a class="header" href="http://www.clockoff.com/contact">Contact</a>
        </td>
        <td width="100%" align="right" style="padding-right:6px">
            <a class="header" href="https://timesheets.clockoff.com/register">Agency Registration</a> | <a class="header" href="https://timesheets.clockoff.com">Login</a>
        </td>
    </tr>
</table>
