<div class="module">
  <div class="inner">
    <table style="" width="100" cellpadding="0" cellspacing="0">
      <tr>
        <td align="center"><div style="margin-bottom:10px"><img src="/images/alarm.gif" alt="" width="15%" height="15%" class="icon_48" /><br /><a href="/agencies/1/outstanding">Outstanding Timesheets</a></div></td>
      </tr>
      <tr>
        <td align="center"><div style="margin-bottom:10px"><img src="/images/calendar.gif" alt="" width="15%" height="15%" class="icon_48" /><br /><a href="/agencies/1/active_contracts">Active Contracts</a></div></td>
      </tr>
      <tr>
        <td align="center"><div style="margin-bottom:10px"><img src="/images/addressbook.gif" alt="" width="15%" height="15%" class="icon_48" /><br /><a href="/agencies/1/active_clients">Active Clients</a></div></td>
      </tr><tr><td align="center"><div style="margin-bottom:10px"><img src="/images/configure.gif" alt="" width="15%" height="15%" class="icon_48" /><br /><a href="/agencies/1/tools">Tools</a></div></td>
      </tr>
      <tr>
        <td align="center"><div style="margin-bottom:10px"><img src="/images/chart.gif" alt="" width="15%" height="15%" class="icon_48" /><br /><a href="/agencies/1/stats">Statistics</a></div></td>
      </tr>
    </table>
  </div>
</div>
