<% if @pre_release %>
<a href="https://timesheets.clockoff.com">Login for Testing</a>
<% else %>

<a href="http://www.clockoff.com">home</a> | <a href="http://www.clockoff.com/tour">tour</a> | <a href="http://www.clockoff.com/pricing">pricing</a> | <a href="http://www.clockoff.com/support">support</a> | <a href="http://www.clockoff.com/contact">contact</a>
 | <a href="https://timesheets.clockoff.com">login</a>
<% end %>